<!-- search.html -->
{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">

{% endblock %}
{% block header %}

{% include 'components/header.html' %}
{% endblock %}
{% block content %}
<div class="content">
<img src="{% static 'media/nirikshana_rat_1.png' %}" alt="Nirikshna Image" class="rat-image" style="width: 200px; height: auto;">

    <h1>Nirikshana</h1>
    <p>This is the main content of the home page.</p>
    {% include 'components/search.html' %}
</div>


{% endblock %}
